<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="meals">
      <ion-icon aria-hidden="true" name="pizza"></ion-icon>
      <ion-label>Meals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon aria-hidden="true" name="bookmark"></ion-icon>
      <ion-label>Favorites Meals</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
