.no-results-message {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: red;
  }
  
  .no-results-message1 {
    margin-left: 10px;
    margin-top: 20px;
    font-style: italic;
    color: rgb(80, 80, 80);
  }