<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar (ionChange)="search($event)" placeholder="Search"></ion-searchbar>
    <ion-button (click)="resetSearch()" fill="clear" slot="end">
      Reset
    </ion-button>
  </ion-toolbar>

  <ion-grid *ngIf="searchResults.length > 0">
    <ion-row>
      <ion-col size="12" size-sm="3" *ngFor="let meal of searchResults">
        <ion-card>
          <ion-card-header>
            <ion-img src="{{ meal.strMealThumb }}"></ion-img>
            <ion-card-title>{{ meal.strMeal }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="showNoResultsMessage && searchResults.length === 0" class="no-results-message">
    No se encontraron resultados.
  </div>
</ion-content>
